[submodule "SOURCE/GH3Plus"]
	path = SOURCE/GH3Plus
	url = https://github.com/donnaken15/GH3-Plus
[submodule "SOURCE/q/QBC"]
	path = SOURCE/q/QBC
	url = https://github.com/donnaken15/NodeQBC
[submodule "SOURCE/q/GHSDK"]
	path = SOURCE/q/GHSDK
	url = https://gitgud.io/fretworks/guitar-hero-sdk
[submodule "SOURCE/Helix"]
	path = SOURCE/Helix
	url = https://github.com/donnaken15/hmp3
[submodule "SOURCE/DotNetZip"]
	path = SOURCE/DotNetZip
	url = https://github.com/DinoChiesea/DotNetZip
