JUNK
JUNK*
/__QDB
/TOOLS
/TOOLS/*
* - Copy*
* (*)*
*.bak
*.bak.*
*.exp
*.iobj
*.ipdb
*.lib
*.pdb
*.obj
*.tlog
*.log
*.VC.db
*.VC.opendb
!/FastGH3.pdb
/DATA/CACHE
*_*.idb
bin/
obj/
*.ini
Release/
/PLUGINS/_log.txt
.suo
*.opensdf
*.sdf
/__FINAL*/
/__FINAL.zip
/__BUILDS
game.idb
*.UserDbg
*_1.*.exe
*_1.*.zip
*.config
currentsong.txt
/SOURCE/QbScripts/syntaxref/*.qbscript
Debug/
output.txt
/__REDIST
/__TEXTEST
.useless
*.id*
*.nam
*.til
/DATA/PAK/tmp.pak.xen
*.fsp
*.lnk
/PLUGINS/QDBhook.dll
\!*
.vs/
launcher.txt
/DATA/ZONES/__themes/*/
/__UPDATERTEST/
/__WII/
/__BRANCHES/
*_original.*
/DATA/MOVIES/BIK/lastvid
/DATA/PAK/__highways/*.*
/DATA/PAK/__highways/*/
/DATA/MOVIES/BIK/*.bik
/DATA/MOVIES/BIK/*.bik.xen
!/DATA/PAK/__highways/black.dds
/DATA/*.png
/DATA/*.jpg
/DATA/replays/*.rep
/DATA/ZONES/__themes/*.gfx
/DATA/ZONES/__themes/*.gfx.xen
/DATA/ZONES/__themes/*.zip
/DATA/MODS/*.*
disabled/
!/DATA/MODS/disabled
/SOURCE/q/test
/SOURCE/Misc/verify_build.sh

stats_*.txt
/DATA/HIGHWAYS
/DATA/ZONES/__themes/*
/SOURCE/.editorconfig

/SOURCE/Zones/highway/__output.scn
/SOURCE/Zones/highway/__output.tex
*.log.xz
/THEMES/*/
/PLUGINS/RichPresence.dll
*.user
# forgot if this ignore is based on visual studio ignore, but this should be excluded if it's really just going to contain one user preference about how files are presented in a project
*.aps
*.res

# signature files, Y U NO TRUST ME OTHER WINDOWS MACHINES
*.sig
*.asc

# user files, now don't need to worry about accidentally including
# things because code won't crash from not having to load user things
/DATA/hway.pak.xen
/DATA/gameplay_BG.img.xen
/DATA/MOVIES/BIK/backgrnd_video.bik.xen
/DATA/PAK/player.pak.xen
/DATA/MUSIC/fastgh3.fsb.xen
/DATA/MUSIC/fastgh3.dat.xen
/DATA/PAK/song.pak.xen
/DATA/PAK/song.qb.xen
