JUNK
JUNK*
JUNK3
/TOOLS
/TOOLS/*
* - Copy*
* (*)*
*.bak
*.bak.*
*.exp
*.iobj
*.ipdb
*.lib
*.pdb
*.obj
*.tlog
*.log
*_*.idb
bin/
!/bin
obj/
*.ini
Release/
.suo
*.opensdf
*.sdf
__FINAL*/
__FINAL.zip
__build.bat
__copyall.bat
game.idb
*.UserDbg
fastgh3_1.0.exe
FastGH3.exe.config
currentsong.txt
Debug/
output.txt
__TEXTEST
.useless
*.id*
*.nam
*.til
*.fsp
*.lnk
\!*
.vs/
launcher.txt
__pack.bat
