JUNK
JUNK*
/__QDB
/TOOLS
/TOOLS/*
* - Copy*
* (*)*
*.bak
*.bak.*
*.exp
*.iobj
*.ipdb
*.lib
*.pdb
*.obj
*.tlog
*.log
*.VC.db
*.VC.opendb
!/FastGH3.pdb
/DATA/CACHE
*_*.idb
bin/
obj/
*.ini
Release/
/PLUGINS/_log.txt
.suo
*.opensdf
*.sdf
/__FINAL*/
/__FINAL.zip
/__BUILDS
game.idb
*.UserDbg
fastgh3_1.0.exe
FastGH3.exe.config
currentsong.txt
/SOURCE/QbScripts/syntaxref/*.qbscript
Debug/
output.txt
/__REDIST
/__TEXTEST
.useless
*.id*
*.nam
*.til
/DATA/PAK/tmp.pak.xen
*.fsp
*.lnk
/PLUGINS/QDBhook.dll
\!*
.vs/
launcher.txt
/DATA/ZONES/__themes/*/
/__UPDATERTEST/
/__WII/
/__BRANCHES/
*_original.*
/DATA/MOVIES/BIK/lastvid
/DATA/PAK/__highways/*.*
/DATA/PAK/__highways/*/
/DATA/MOVIES/BIK/*.bik
/DATA/MOVIES/BIK/*.bik.xen
!/DATA/PAK/__highways/black.dds
/DATA/*.png
/DATA/*.jpg
/DATA/replays/*.rep
/DATA/ZONES/__themes/*.gfx
/DATA/ZONES/__themes/*.gfx.xen
/DATA/ZONES/__themes/*.zip
/DATA/MODS/*.*
disabled/
!/DATA/MODS/disabled
/SOURCE/q/test

# if i add items to this list that were already committed before, will it remove it from the repo?
stats_*.txt
/DATA/HIGHWAYS
/DATA/ZONES/__themes/*
/SOURCE/.editorconfig

# if i add items to this list that were already committed before, will it remove it from the repo?

# i put this and its showing these as untracked still
/DATA/MOVIES/BIK/backgrnd_video.bik.xen
/DATA/MUSIC/fastgh3.fsb.xen
/DATA/PAK/player.pak.xen
/DATA/PAK/song.pak.xen
/SOURCE/Zones/highway/__output.scn
/SOURCE/Zones/highway/__output.tex
*.log.xz
/THEMES/*/
/PLUGINS/RichPresence.dll
/DATA/hway.pak.xen
/DATA/gameplay_BG.img.xen
