[submodule "SOURCE/GH3Plus"]
	path = SOURCE/GH3Plus
	url = https://github.com/donnaken15/GH3-Plus
[submodule "SOURCE/q/QBC"]
	path = SOURCE/q/QBC
	url = https://github.com/donnaken15/NodeQBC
[submodule "SOURCE/q/GHSDK"]
	path = SOURCE/q/GHSDK
	url = https://gitgud.io/fretworks/guitar-hero-sdk
[submodule "SOURCE/Helix"]
	path = SOURCE/dependencies/Helix
	url = https://github.com/donnaken15/hmp3
[submodule "SOURCE/DotNetZip"]
	path = SOURCE/dependencies/DotNetZip
	url = https://github.com/DinoChiesea/DotNetZip
[submodule "SOURCE/QueenBee"]
	path = SOURCE/dependencies/QueenBee
	url = https://github.com/donnaken15/Queen-Bee
	branch = main
[submodule "SOURCE/q/mods"]
	path = SOURCE/q/mods
	url = https://github.com/donnaken15/QBMods
[submodule "SOURCE/mid2chart"]
	path = SOURCE/dependencies/mid2chart
	url = https://github.com/donnaken15/mid2chart
[submodule "SOURCE/dependencies/SharpZipLib"]
	path = SOURCE/dependencies/SharpZipLib
	url = https://github.com/icsharpcode/SharpZipLib
